# Copyright 2011-2014 Lucian Muresan <lucianm AT users DOT sourceforge DOT net>
# Distributed under the terms of the GNU General Public License v2

[Unit]
Description=Video Disk Recorder wrapper Daemon

#
# starts vdr_as_user@.service either as 'vdr' user
# or as 'root'
#

DefaultDependencies=no
After=systemd-udevd.service lirc.service
Requires=systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=true

# this will determine the user under which vdr should be
# executed (vdr or root) and set it into VDR_USER, also
# collect the parameters and set them into the VDR_OPTS
# variable in the EnvironmentFile
ExecStartPre=/usr/sbin/vdr-systemd_helper.sh --start-pre

EnvironmentFile=/var/vdr/tmp/systemd_env


ExecStart=/bin/bash -c "systemctl start vdr_as_user@${VDR_USER}"
ExecStop=/bin/bash -c "systemctl stop vdr_as_user@${VDR_USER}"

[Install]
WantedBy=multi-user.target
