[Unit]
Description=lcdproc Service
After=syslog.target LCDd.service

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/lcdproc
ExecStart=/usr/bin/lcdproc -c /etc/lcdproc.conf $LCDPROC_CLIENT_OPTS
ControlGroup=cpu:/
Restart=always

[Install]
WantedBy=multi-user.target
