[Unit]
Description=OSEmu Server
After=network.target
Before=oscam.service

[Service]
EnvironmentFile=/etc/conf.d/osemu
ExecStart=/usr/bin/OSEmu $_OSEMU_OPTS
PIDFile=/var/run/OSEmu.pid
ControlGroup=cpu:/
Restart=always

[Install]
WantedBy=multi-user.target
