[Unit]
Description=LIRC irexec wrapper Daemon

#
# starts irexec_as_user@.service as the user specified
# in the IREXEC_USER variable in /etc/conf.d/irexec
#

DefaultDependencies=no
Requires=lirc.service
After=lirc.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/conf.d/irexec
ExecStart=/bin/bash -c "systemctl start irexec_as_user@${IREXEC_USER}"
ExecStop=/bin/bash -c "systemctl stop irexec_as_user@${IREXEC_USER}"

[Install]
WantedBy=multi-user.target
